


$base-color:#333;

$base-font-size:16px;

$base-font: 'Roboto', sans-serif;

$heading-font: 'Montserrat', sans-serif;

$font-bold:700;

$theme-color:#01bafd;

$secondary-color:#F7931D;



